@import url('https://fonts.googleapis.com/css?family=Lora');
@import 'social_icons';

// body {
//   margin: 0;
// }

.bgimg {
  background-image: url('/img/bg.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgwhite {
  background: rgba(255,255,255,0.7);
}

.title {
  margin-bottom: 1.5rem;
  font-size: 1.8em;
  font-family: 'Lora', serif;
  font-weight: 400;
  color: #555;
}

a.social {
  display: block;
  margin: 0 15px;
  width: 45px;
  height: 45px;
  background-size: cover;
}

a.social:hover {
  background-color: rgba(255,255,255,0.5);
}

a.github {
  background-image: $github;
}

a.flickr {
  background-image: $flickr;
}

