@import url('https://fonts.googleapis.com/css?family=Lora');

html, body, .container {
  height: 100%;
}

body {
  background-image: url("img/bg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  background-size: cover;
}

.container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.box {
  width: 520px;
  margin-bottom: 3%;
  padding: 50px 0;
  background: rgba(255,255,255,0.7);
  text-align: center;
}

.title {
  font-size: 1.8em;
  font-family: 'Lora', serif;
  color: #777;
}

.big {
  font-size: 1.3em;
  color: #555;
}
