//--------------------
//- Mixins
//--------------------

//--------------------
//- Content
//--------------------

doctype
html(lang="ja")
head
  include parts/header.pug

body
  main
    .container
      .box
        h1.title uhey22e.com
        .link-container
          a.social.github(href='https://github.com/uhey22e' target='_blank')
          a.social.flickr(href='https://www.flickr.com/photos/uhey22e' target='_blank')

