//--------------------
//- Mixins
//--------------------

//--------------------
//- Content
//--------------------

doctype
html(lang="ja")
head
  include parts/header.pug

body
  main
    .bgimg.uk-cover-container(uk-height-viewport).uk-flex.uk-flex-center.uk-flex-middle
      .bgwhite.uk-container-small.uk-padding
        h1.title uhey22e.com
        ul
          li
            a(href="https://numa-calculator.uhey22e.com/") かんたん沼計算機
        .uk-flex.uk-flex-center
          a.social.github(href='https://github.com/uhey22e' target='_blank' rel='noopener')
          a.social.flickr(href='https://www.flickr.com/photos/uhey22e' target='_blank' rel='noopener')

