meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")

title uhey22e.com

// custom stylesheet
link(rel='stylesheet' type='text/css' href='css/main.css')

// UIKit CSS
link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/css/uikit.min.css")

// UIKit JS
script(src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit.min.js")
script(src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit-icons.min.js")

// Google Adsense
script(data-ad-client=process.env.GOOGLE_ADSENSE_CLIENT async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
