@import url('https://fonts.googleapis.com/css?family=Lora');
@import 'social_icons';

body {
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;

  background-image: url('/img/bg.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 520px;
  margin-bottom: 1rem;
  padding: 50px 0;
  background: rgba(255,255,255,0.7);
  text-align: center;
}

.title {
  margin-bottom: 1.5rem;
  font-size: 1.8em;
  font-family: 'Lora', serif;
  font-weight: 400;
  color: #555;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

a.social {
  display: block;
  margin: 0 15px;
  width: 45px;
  height: 45px;
  background-size: cover;
}

a.social:hover {
  background-color: rgba(255,255,255,0.5);
}

a.github {
  background-image: $github;
}

a.flickr {
  background-image: $flickr;
}

